{% extends "base.html" %}

{% block title %}Products Page{% endblock %}

{% block content %}

<a class="btn btn-success" href="{{ url_for('product_routes.create') }}">Create Product</a>

<h3 class="text-center">Product List</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <a href="{{ url_for('product_routes.update', product_id=product.id) }}"
                    class="btn btn-primary">Update</a>
                <a href="{{ url_for('product_routes.delete', product_id=product.id) }}"
                    class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
</table>



<!-- <ul>
    {% for product in products %}
    <li>
        {{product.id}} - {{ product.name }} - ${{ product.price }}
        <a href="{{ url_for('product_routes.update', product_id=product.id) }}">Update</a>
        <a href="{{ url_for('product_routes.delete', product_id=product.id) }}">Delete</a>
    </li>
    {% endfor %}
</ul> -->

{% endblock %}